.container {
  width: var(--container-width);
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: none;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
}